
:root{
   --normalBorderWidth: 0.1rem;
   --highlightedBorderWidth: thick;
   --defaultBorderColor: black;
   --selectedBorderColor: green;
   --canMoveToBorderColor: white;
}

body {
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 4.5rem;
    padding: 2rem;
}

.board {
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(8, 4.5rem);
    grid-template-rows: repeat(8, 4.5rem);
    background-color: #bbbbbb;
    color: rgb(22 101 52); 
    box-shadow: 0 0 2rem #444444;
}

.spaces {
    padding: .2rem;
    border-width: var(--normalBorderWidth);
    border-color: black;
}

.darker {
    background-color: rgb(22 101 52);
    color: #bbbbbb;
}

#end-game{
    display: none;
    position: absolute;
    top: 30%;
    background-color: black;
    color: white;
    padding: 0.2em;
    font-size: 3em;
}

/* this just prevents the picture of the piece from being clicked on */
/* we only want to click on the square itself */
img{
    pointer-events: none;
}