
:root{
   --normalBorderWidth: 0.1rem;
   --highlightedBorderWidth: thick;
   --defaultBorderColor: black;
   --selectedBorderColor: green;
   --canMoveToBorderColor: white;
   --grey: #bbbbbb;
   --green: rgb(22 101 52);
}

body {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 2rem;
    max-width: 42rem;
}

.board {
    padding: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: repeat(8, 4.5rem);
    grid-template-rows: repeat(8, 4.5rem);
    background-color: #bbbbbb;
    color: rgb(22 101 52); 
    box-shadow: 0 0 2rem #444444;
}

.spaces {
    display: block;
    padding: .2rem;
    border-width: var(--normalBorderWidth);
    border-color: black;
}

.darker {
    background-color: rgb(22 101 52);
    color: #bbbbbb;
}

#end-game{
    display: none;
    position: absolute;
    top: 30%;
    background-color: black;
    color: white;
    padding: 0.2em;
    font-size: 3em;
}

.chuckNorrisContainer {
    text-align: center;
}

#chuckNorrisSection {
    max-width: 42em;
    border-radius: .5em;
    padding: .2rem;
    border-width: 1rem;
    background-color: var(--grey);
    border-color: var(--green);
    color: var(--green);
}

#promotionMenu{
    display: none;
    position: absolute;
    top: 30%;
    box-sizing: border-box;
    width: 50%;
    left: 25%;
    background-color: var(--grey);
    border: 1rem solid black;
    border-radius: .5em;
    font-size: 1.5em;
    text-align: center;
}

#promotionContainer{
    display: flex;
    justify-content: space-evenly;
}

#warning{
    display: none;
    position: absolute;
    background-color: var(--grey);
    border: 1rem solid black;
    top: 30%;
    padding: .2rem;
    border-radius: 0.5em;
    font-size: 1.5em;
}
#navigator-buttons{
    position:absolute;
    bottom: 10%;
    left: 80%;
}

/* this just prevents the picture of the piece from being clicked on */
/* we only want to click on the square itself */
img{
    pointer-events: none;
}